.cta{
	background: url("../images/0-home11.jpg") fixed 50% 50%;
	background-size: cover;
	padding: 120px 0px;
	@extend .overly;
}
.cta-block{
	background: url("../images/0-home11.jpg")no-repeat;
	background-size: cover;
	@extend .overly-2;
}
